* { 
    margin: 0; 
    padding: 0; 
    box-sizing: border-box;
    font-family: 'Lato', 'Noto Sans KR', sans-serif, 'Nanum Barun Gothic', 
    'NanumBarunGothic', '나눔바른고딕', 'Nanum Gothic', 'nanumgothic';
}
li{list-style: none;}
a{text-decoration: none; color: inherit;}
body{ -ms-overflow-style: none; } ::-webkit-scrollbar { display: none; }

/* none */
#conn {
    display: none;
}
/* main */
section{
    width: 100%;
    height: 100vh;
    background-attachment: fixed;
}
/* mouse */
#hd_btm > span{
    position: absolute;
    top: 88%;
    left: 50%;
    transform: translate(-50%,-50%);
    z-index: 100;
    color: #fff;
    font-size: 40px;
    transition: 0.8s;
}
#hd_btm:hover span{
    top: 90%;
}
#hd_btm > p{
    position: absolute;
    top: 95%;
    left: 50%;
    transform: translate(-50%,-50%);
    z-index: 100;
    color: #fff;
    letter-spacing: 3px;
    font-size: 16px;
}
/* sec01 */
#sec01_bg{
    background-image: url(/img/sub05_newsroom/newsroom_bg.jpg);
    background-size: cover;
    width: inherit;
    height: inherit;
    background-position: center center;
    background-attachment: fixed;
}
#movetit{
    position: absolute;
    left:50%; 
    top:60%; 
    transform:translate(-50%,-50%);
    color: #fff;
    font-size: 46px;
    text-align: center !important;
    letter-spacing: 23px;
    opacity: 0;
    overflow: hidden;
    transition: 0.8s;
}
#movetit.on{
    opacity: 1;
    top: 50%;
}

/* sec02 */
#sec02{
    width: 100%;
    height: auto;
    background-color: #f1f1f1;
}
#sec02-bg{
    text-align: center;
}
#btns{
    display: flex;
    justify-content: center;
    cursor: pointer;
    padding: 100px 0 50px 0;
}
#btn01{
    text-align: center;
    border: 1px solid #ccc;
    background-color: #fff;
    color: #333;
    padding: 10px 250px;
}
#btn01:hover{
    background-color: #442270;
    color: #fff;
}
#btn02:hover{
    background-color: #442270;
    color: #fff;
}
#btn02{
    text-align: center;
    border: 1px solid #ccc;
    background-color: #fff;
    color: #333;
    padding: 10px 250px;
    transition: 0.5s;
}
/* .on */
#btn01.on{
    background-color: #442270;
    color: #fff;
}
#btn02.on{
    background-color: #442270;
    color: #fff;
}

/* news */
#news {
    width: 65%;
    margin: 0 auto;
}
.line {
    display: flex;
    justify-content: space-between;
}
.ns{
    width: 32%;
    border: 1px solid #ccc;
    text-align: left;
    margin-bottom: 20px;
    padding-bottom: 200px;
    background-color: #fff;
}
.ns:hover{
    text-decoration: underline;
}
.ns_btm{
    margin: 0 20px;
}
.n_hd{
    font-weight: 550;
    font-size: 18px;
    color: #333;
    padding: 10px 0;
}
.n_date{
    padding: 50px 0;
    font-size: 15px;
    color: #666;
}
#n01_img{
    height: 80%;
    background-image: url(/img/sub05_newsroom/news01.jpg);
    background-size: cover;
    margin: 10px;
}
#n02_img{
    height: 80%;
    background-image: url(/img/sub05_newsroom/news02.jpg);
    background-size: cover;
    margin: 10px;
}
#n03_img{
    height: 80%;
    background-image: url(/img/sub05_newsroom/news03.jpg);
    background-size: cover;
    margin: 10px;
}
#n04_img{
    height: 80%;
    background-image: url(/img/sub05_newsroom/news04.jpg);
    background-size: cover;
    margin: 10px;
}
#n05_img{
    height: 80%;
    background-image: url(/img/sub05_newsroom/news05.jpg);
    background-size: cover;
    margin: 10px;
}
#n06_img{
    height: 80%;
    background-image: url(/img/sub05_newsroom/news06.jpg);
    background-size: cover;
    margin: 10px;
}
#n07_img{
    height: 80%;
    background-image: url(/img/sub05_newsroom/news07.jpg);
    background-size: cover;
    margin: 10px;
}
#n08_img{
    height: 80%;
    background-image: url(/img/sub05_newsroom/news08.jpg);
    background-size: cover;
    margin: 10px;
}
#n09_img{
    height: 80%;
    background-image: url(/img/sub05_newsroom/news09.jpg);
    background-size: cover;
    margin: 10px;
}

/* media */
#media {
    width: 65%;
    margin: 0 auto;
    display: none;
}
.line {
    display: flex;
    justify-content: space-between;
}
.ms{
    width: 32%;
    border: 1px solid #ccc;
    text-align: left;
    margin-bottom: 20px;
    padding-bottom: 200px;
    background-color: #fff;
}
.md:hover{
    text-decoration: underline;
}
.md_btm{
    margin: 0 20px;
}
.md_hd{
    font-weight: 550;
    font-size: 18px;
    color: #333;
    padding: 10px 0;
}
.md_desc:not(:first-child,:nth-child(2)){
    opacity: 0;
}
.m_date{
    padding: 50px 0;
    font-size: 15px;
    color: #666;
}
#m01_img{
    height: 80%;
    background-image: url(/img/sub05_newsroom/m01.jpg);
    background-position: center center;
    background-size: cover;
    margin: 10px;
}
#m02_img{
    height: 80%;
    background-image: url(/img/sub05_newsroom/m02.jpg);
    background-position: center center;
    background-size: cover;
    margin: 10px;
}
#m03_img{
    height: 80%;
    background-image: url(/img/sub05_newsroom/m03.jpg);
    background-position: center center;
    background-size: cover;
    margin: 10px;
}
#m04_img{
    height: 80%;
    background-image: url(/img/sub05_newsroom/m04.jpg);
    background-position: center center;
    background-size: cover;
    margin: 10px;
}
#m05_img{
    height: 80%;
    background-image: url(/img/sub05_newsroom/m05.jpg);
    background-position: center center;
    background-size: cover;
    margin: 10px;
}
#m06_img{
    height: 80%;
    background-image: url(/img/sub05_newsroom/m06.jpg);
    background-position: center center;
    background-size: cover;
    margin: 10px;
}
#m07_img{
    height: 80%;
    background-image: url(/img/sub05_newsroom/m07.jpg);
    background-position: center center;
    background-size: cover;
    margin: 10px;
}
#m08_img{
    height: 80%;
    background-image: url(/img/sub05_newsroom/m08.jpg);
    background-position: center center;
    background-size: cover;
    margin: 10px;
}
#m09_img{
    height: 80%;
    background-image: url(/img/sub05_newsroom/m09.jpg);
    background-position: center center;
    background-size: cover;
    margin: 10px;
}
