#hd_top{
    width: 100%;
    display: flex;
    justify-content: space-between;
    align-items: center;
    position: fixed;
    background-color: transparent;
    z-index: 1;
}
#hd_right{
    display: flex;
    align-items: center;
}
#rig_subb {
    margin-right: 50px;
}
#rig_subb > ul {
    display: flex;
    color: #fff;
    font-weight: 1000;
    letter-spacing: 1px;
}
#rig_subb > ul > li{
    font-size: 12px;
    margin-right: 40px;
    border-top: 2px solid transparent;
    transition: 0.3s;
}
#rig_subb > ul > li:hover{
    cursor: pointer;
    border-top: 2px solid #fff;
}
#imenu > span {
    padding-right: 30px;
    color: #9f81fc;
    font-size: 24px;
}
#imenu{
    position: absolute;
    right: 0;
    width: 60px;
    height: 60px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    z-index:100;
}
#imenu:hover{
    cursor: pointer;
}
#rigmenu{
    width: 25%;
    position: absolute;
    right: -40%;
    top: 0;
    height: 100vh;
    background-color: #fff;
    transition: 0.5s;
    z-index: 200;
}
#rigmenu.on{
    right: 0;
    position: absolute;
}
#close_btn {
    height: 30px;
    color: #333;
    float: right;
}
#close_btn:hover{
    cursor: pointer;
}
#close_btn > span{
    padding: 30px 20px 30px 0;
}
.sub_1st {
    clear: both;
    padding: 70px 30px 100px 60px;
}
.plusbtn{
    float: right;
    margin-top: 13px;
    transition: 0.3s;
}
.plusbtn:hover{
    transform: rotate(-180deg);
}
.sub_2nd {
    line-height: 50px;
    height: 50px;
    overflow: hidden;
    transition: 0.5s;
    font-size: 22px;
    font-weight: bold;
}
.sub_2nd:hover{
    text-decoration: underline;
    cursor: pointer;
}
.sub{
    padding: 10px 0;
}
.sub > li:hover{
    color: #23b2b6;
    text-decoration: underline;
}
.sub > li:hover .sub_1st>li{
    text-decoration: none;
}
.sub_1st > li.on {
    height: auto;
}
.sub li {
    line-height: 40px;
    padding-left: 20px;
    color:#666;
    font-size: 14px;
    font-weight: bold;
}
#submenu_btm{
    margin-top: 190px;
}
.btm_lis{
    display: flex;
    border-bottom: 1px solid #ccc;
    padding: 15px 0 15px 60px;
    font-size: 14px;
    font-weight: bold;
    color: #666;
}
.btm_lis:first-child{
    border-top: 1px solid #ccc;
}
.btm_lis01 > span{
    padding-left: 12px;
}
.btm_lis02 > span{
    padding-left: 60px;
}
.btm_lis:hover p{
    text-decoration: underline;
}
#submenu_btm > div{
    text-align: center;
    padding: 50px 0;
    font-size: 11px;
    color: #666;
}

