* { 
    margin: 0; 
    padding: 0; 
    box-sizing: border-box;
    font-family: 'Lato', 'Noto Sans KR', sans-serif, 'Nanum Barun Gothic', 
    'NanumBarunGothic', '나눔바른고딕', 'Nanum Gothic', 'nanumgothic';
}
li{list-style: none;}
a{text-decoration: none; color: inherit;}
body{ -ms-overflow-style: none; background-color: #eee;} ::-webkit-scrollbar { display: none; }

@keyframes underMove01{
    0%{
        width: 0;
    }
    100%{

    }
}


/* none */
#conn{
    display: none;
}

/* .on */
#sec02_hd > ul > li.on{
    color: #000;
    text-decoration: underline;
}
#hd_btm > span{
    position: absolute;
    top: 88%;
    left: 50%;
    transform: translate(-50%,-50%);
    z-index: 100;
    color: #fff;
    font-size: 40px;
    transition: 0.8s;
}
#hd_btm:hover span{
    top: 90%;
}
#hd_btm > p{
    position: absolute;
    top: 95%;
    left: 50%;
    transform: translate(-50%,-50%);
    z-index: 100;
    color: #fff;
    letter-spacing: 3px;
    font-size: 16px;
}

/* main */
section{
    width: 100%;
    height: 100vh;
    background-attachment: fixed;
}
/* sec01 */
#sec01_bg{
    background-image: url(/img/sub03_support/visual_support.jpg);
    background-size: cover;
    width: inherit;
    height: inherit;
    background-position: center center;
    background-attachment: fixed;
}
#movetit{
    position: absolute;
    left:50%; 
    top:60%; 
    transform:translate(-50%,-50%);
    color: #fff;
    font-size: 46px;
    text-align: center !important;
    letter-spacing: 23px;
    opacity: 0;
    overflow: hidden;
    transition: 0.8s;
}
#movetit.on{
    opacity: 1;
    top: 50%;
}


/* sec02 */
#sec02{
    background-color: #eee;
}

/* consultant */
#consultant{
    width: 65%;
    height: 100vh;
    position: absolute;
    z-index: 2;
    top: 165%;
    left: 50%;
    transform:translate(-50%,-50%);
}
#sec02_hd{
    padding: 100px 0 30px 0;
}
#sec02_hd > ul{
    display: flex;
    justify-content: center;
    align-items: center;
}
#sec02_hd > ul > li{
    color: #c4c4c4;
    letter-spacing: 3px;
    font-weight: bold;
}
#sec02_hd > ul > li:hover{
    text-decoration:underline;
    cursor:pointer;
}
#sec02_hd > ul > span{
    border: 0.5px solid #c4c4c4;
    height: 10px;
    margin: 0 20px;
}
#sec02_bot > ul{
    display: flex;
    justify-content: space-between;
    margin-top: 40px;
}
.lis {
    border: 1px solid #ccc;
    font-size: 20px;
    text-align: center;
    width: 30%;
    padding: 50px 20px;
    transition: 0.4s;
}
.lis > p{
    color: #000;
    padding-bottom: 15px;
    font-weight: 550;
}
.lis > span {
    color:rgb(68,34,112);
}
.lis:hover{
    background-color: rgb(68,34,112);
}
.lis:hover p{
    color: #fff;
}
.lis:hover span{
    color: #fff;
}

/* catalogue */
#catalogue_dwn{
    margin: 0 auto;
    position: relative;
    width: 65%;
    display: none;
}
#steel01{
    margin-top: 40px;
    background-image: url(/img/sub03_support/catal_01.jpg);
    background-size: cover;
    height: 450px;
}
#steel02{
    margin-top: 30px;
    background-image: url(/img/sub03_support/catal_02.jpg);
    background-size: cover;
    height: 470px;
}
#steel03{
    margin-top: 30px;
    background-image: url(/img/sub03_support/catal_03.jpg);
    background-size: cover;
    height: 470px;
}
#steel04{
    margin-top: 30px;
    background-image: url(/img/sub03_support/catal_04.jpg);
    background-size: cover;
    height: 470px;
}
#steel05{
    margin-top: 30px;
    background-image: url(/img/sub03_support/catal_05.jpg);
    background-size: cover;
    height: 470px;
}
#steel06{
    margin-top: 30px;
    margin-bottom: 100px;
    background-image: url(/img/sub03_support/catal_06.jpg);
    background-size: cover;
    height: 470px;
}
.steels{    
    position: relative;
}
.steels > p{
    color: #fff;
    font-size: 28px;
    padding: 40px 0 0 40px;
    font-weight: bold;
}
.steels > span {
    border: 2.5px solid #fff;
    padding: 8px 15px;
}
.dwn_btn{
    display: flex;
    color: #fff;
    font-size: 13px;
    text-align: center;
    float: right;
    margin-top: 300px;
    margin-right: 25px;
    transition: 0.3s;
}
.dwn_btn > p {
    padding-right: 80px;
}
.dwn_btn:hover{
    color: #000;
}

/* product data */
#product_data {
    margin-top: 40px;
    width: 65%;
    position: absolute;
    top: 150%;
    left: 50%;
    transform:translate(-50%,-50%);
    display: none;
}
#certificate01, #certificate02{
    display: flex;
}
.data_hd{
    width: 25%;
}
.data_hd > p:nth-child(1) {
    padding: 30px 0 0 20px;
}
.data_hd > p:nth-child(2){
    padding: 15px 0 0 20px;
}
#tables{
    width: 75%;
}
.data_hd>p:nth-child(1){
    font-size: 24px;
    font-weight: normal;
}
.data_hd>p:nth-child(2){
    font-size: 13px;
    font-weight: normal;
    color: #666;
}
.tds {
    display: flex;
    font-size: 20px;
    color: #666;
    font-weight: 500;
    align-items: center;
    padding: 30px 0;
}
.tds01:not(:last-child){
    border-bottom: 1px solid #ccc;
}
.tds02{
    border-bottom: 1px solid #ccc;
}
.dnbtn{
    display: flex;
    text-align: right;
    border: 2px solid #aeafac;
    padding: 8px 20px;
    margin:30px 0 30px 20px; 
    font-size: 13px;
    align-items: center;
    font-weight: bold;
    color: #aeafac;
    position:absolute;
    right: 3%;
}
.dnbtn:hover{
    border: 2px solid #000;
    color: #000;
}
#certificate02{
    border-top: 1px solid #ccc;
}