* { 
    margin: 0; 
    padding: 0; 
    box-sizing: border-box;
    font-family: 'Lato', 'Noto Sans KR', sans-serif, 'Nanum Barun Gothic', 
    'NanumBarunGothic', '나눔바른고딕', 'Nanum Gothic', 'nanumgothic';
}
li{list-style: none;}
a{text-decoration: none; color: inherit;}
body{ -ms-overflow-style: none; } ::-webkit-scrollbar { display: none; }

/* 헤더 넣기 */
#hd_top{
    width: 100%;
    display: flex;
    justify-content: space-between;
    align-items: center;
    position: fixed;
    background-color: transparent;
    z-index: 1;
}
#hd_right{
    display: flex;
    align-items: center;
}
#rig_subb > ul {
    display: flex;
    color: #fff;
    font-weight: 1000;
    letter-spacing: 1px;
}
#rig_subb > ul > li{
    font-size: 12px;
    margin-right: 40px;
    border-top: 2px solid transparent;
    transition: 0.3s;
}
#rig_subb > ul > li:hover{
    cursor: pointer;
    border-top: 2px solid #fff;
}
#imenu > span {
    padding-right: 30px;
    color: #9f81fc;
    font-size: 24px;
}
#hd_btm{
    position: fixed;
    right: 50%;
    top: 80%;
    transform: translateY(-50%);
    z-index: 3000;
}
#hd_btm{
    color: #fff;
}

/* sub메뉴 잠시 none */
#submenu_top,#submenu_btm{
    display: none;
}
#hd_btm{
    display: none;
}


/* main */
section{
    width: 100%;
    height: 100vh;
    background-attachment: fixed;
}
/* sec01 */
#xtone_bg{
    background-image: url(/img/sub02_xtone/product_1.jpg);
    background-size: cover;
    width: inherit;
    height: inherit;
}
#xtone_bg > img{
    position: absolute;
    left:50%; 
    top:50%; 
    transform:translate(-50%,-50%);
    color: #fff;
    letter-spacing: 23px;
}

/* sec02 */
#sec_02{
    width: 100%;
    height: 100vh;
    display: flex;
}
.sec02s{
    width: 25%;
    height: 100vh;
    color: #fff;
    padding-left: 80px;
    transition: 0.3s;
}
#sec02_01{
    background-image: url(/img/main/sec03/sec03_01.jpg);
    background-size: cover;
}
#sec02_02{
    background-image: url(/img/main/sec03/sec03_02.jpg);
    background-size: cover;
}
#sec02_03{
    background-image: url(/img/main/sec03/sec03_03.jpg);
    background-size: cover;
}
#sec02_04{
    background-image: url(/img/main/sec03/sec03_04.jpg);
    background-size: cover;
}
.sec02_bann{
    display: flex;
    align-items: center;
    transition: 0.5s;
}
.sec02_bann > i{
    transition: 0.5s;
}
.sec02s span{
    padding-right: 10px;
}
.sec02s:hover{
    filter: brightness(200%);
}
.sec02s:hover .sec02_bann>i {
    font-size: 35px;
}
.txt_top{
    color: #fff;
    display: block;
    font-size: 36px;
    font-weight: bold;
    padding-bottom: 20px;
    letter-spacing: 5px;
}
.txt_box1{
    padding-top: 400px;
}
.txt_box2{
    padding-top: 430px;
}